################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EOMProject_3DGraphics302/.vs
/.vs
EOMProject_3DGraphics302/.vs/EOMProject_3DGraphics302/v16/.suo
EOMProject_3DGraphics302/.vs/EOMProject_3DGraphics302/v16/.suo
